<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>链接已失效</title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
        }

        .tip {
            position: absolute;
            font-size: 3rem;
            top: 30%;
            width: 100%;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="tip">链接已失效</div>
</body>

</html>